@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fontsize {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.hide{
  display: none;
}
  /* shared styles */
.display-flex{
  display: flex;
}
/* dark 02  */

.text-gray{
  color: #424242;
}

/* dark 03  */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main >section{
  margin-top: 130px;
}








  /* header styles */
  /* navbar related style  */
.navbar{
  justify-content: space-around;
  align-items: center;
}
.brand{
  font-weight: bold;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;

}


.navbar, .banner{
max-width: 1640;
margin: 0 auto;
}

.banner-container{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.btn-primary{
 background-color: #FF900E;
 color: white;
 padding:20px 25px ;
 font-size: 1.25rem;
 border-radius: 8px;
 border: none;
}

.banner-img{
  width: 80%;
  
}
.banner-img-container{
text-align: center;
}


/* <!-- Quick list features team  section start  -->  */

.teams{
  align-items: center;
  max-width: 1240px;
  margin-inline: auto;
}
.team-img-cointainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-feature{
  margin-left: 130px;
  max-width: 530px;

}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

#quick-list{
  font-weight: 500;
}
.text-primary{
  color: #FF900E;
}

/* Quick list  features team  section end  */





/*  <!-- some facts section start -->   */

.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
 
}
.main-section{
   padding-left: 80px;
 
}
.fact-card{
   border: 2px solid rgb(255, 144, 14);
   width: 240px;
   height: 240px;
   border-radius: 8px;
   align-items: center ;
   justify-content: center;
   text-align: center;
}

.facts-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.fact-description{
  max-width:540px ;
}
/* <!-- some facts section end  -->   */
/* sponsors section start  */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
 
}


.sponsor-companies{
  display: grid;
  grid-template-columns:repeat(5,1fr) ;
  padding-left: 80px;
}

.sponsor-companies img{
  filter:grayscale(100%) ;
}





































/* responsive side  start  */

@media screen  and (max-width:576px){
  .navbar,
   .nav-link , 
   .teams{
    flex-direction: column;
  }

.team-img-cointainer , 
.facts-container,
.sponsor-companies{
  grid-template-columns: repeat(1,1fr);
}
.our-feature{
  margin-left: 20px;
}

.facts-container{
justify-content: center;
gap: 24px;
}

.sponsor-companies{
  justify-content: center;
  gap: 50px;
}







}



/* medium size device  */
 @media screen and (min-width:576px) and (max-width:992px){
  .tearm{
    flex-direction: column;
  }
.our-feature{
  margin: 50px auto;
}
.sponsor-companies, .facts-container{
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
}

 }





















